/* Colour Scheme */
:root{
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--maize-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
}

html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  /* This always makes the scrollbar visible to stop the navigation 
  buttons moving when the scroll bar appears/disappears */
  overflow-y: scroll;
}
/* -----All pages----- */
/* Full width body with background colour */
body{
  background-color:var(--persian-green);
  width: 100%;
  margin: 0;
  color: var(--persian-green);
  
}
a, a:active, a:visited, a:hover{
  text-decoration: underline;
  color:var(--maize-crayola);
  font-weight: normal;
  padding: 0 10px;
}

/* Main rounded content box with background colour */
main{
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem;
}


/* -----Homepage----- */
h1 a, h1 a:active, h1 a:visited, h1 a:hover{
  text-decoration: none;
}

h2{
  text-decoration: none;
  color:var(--charcoal);
  text-align: center;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.flex-content{
  flex-basis: 100px;
  flex-grow: 1;
  background-color:var(--sandy-brown);
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
}

button{
  background-color: var(--burnt-sienna); /* Green */
  border: none;
  color: var(--charcoal);
  margin-top: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: var(--charcoal); /* Green */
  color: var(--burnt-sienna);
  cursor:pointer;
}

/* -----Navbar----- */
header{
  display: flex;
  background-color: var(--charcoal);
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  color:var(--maize-crayola);
  padding: 0 50px;
}
p{
  color: var(--burnt-sienna);
  margin-left: 20px;
}